$sidebar__width__desktop__collapsed: 80px;
$sidebar__width__desktop_expanded: 250px;


#sidebar-toggler{
    position: absolute;
    top: 0;
    left: 0;
}

// .app-content{
//     height: 120vh;
//     background-color: red;
//     width: $sidebar__width__desktop__collapsed;
// }
