$sidebar__width__desktop__collapsed: 80px;
$sidebar__width__desktop_expanded: 250px;
$route__outlet_bg_color: #f8f9fc;


#sidebar-toggler{
    position: absolute;
    top: 0;
    left: 0;
}

.app-content{
    background-color: $route__outlet_bg_color;
}
