<nav class="sidebar-wrapper">
    <label for="sidebar-toggler" class="ham-wrap"></label>
    <a href="" class="logo"><div class="logo-constructor"><span class="logo-icon-head"><span class="logo-icon-lip"></span></span></div></a>
    
    <div class="company-nav-links">
        <div class="company-link">Company Link</div>
        <div class="company-link">Company Link</div>
        <div class="company-link">Company Link</div>
        <div class="company-link">Company Link</div>
        <div class="company-link">Company Link</div>
        <div class="company-link">Company Link</div>
    </div>
</nav>
